<Layouts.app flash={@flash}>
  <.header>
    New Tag
    <:subtitle>Use this form to manage tag records in your database.</:subtitle>
  </.header>
   <.tag_form changeset={@changeset} action={~p"/tags"} return_to={~p"/tags"} />
</Layouts.app>
