<Layouts.app flash={@flash}>
  <.header>
    Category {@category.id}
    <:subtitle>This is a category record from your database.</:subtitle>
    
    <:actions>
      <.button navigate={~p"/categories"}><.icon name="hero-arrow-left" /></.button>
      <.button variant="primary" navigate={~p"/categories/#{@category}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit category
      </.button>
    </:actions>
  </.header>
  
  <.list>
    <:item title="Name">{@category.name}</:item>
  </.list>
</Layouts.app>
